body {
    margin: 0; /* ลบ margin เริ่มต้นของ browser */
    padding: 0;
    background-color: #06072C;
     font-family: 'Poppins', sans-serif;
}


header {
    position: fixed; /* ให้ติดบนสุดเวลา scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 20px; /* กำหนดความสูงของ header */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 28px;
    background-color: #06072C;
    padding: 20px;
    color: #ffffff;
    box-sizing: border-box; /* ป้องกัน padding ทำให้กว้างเกิน */
     box-shadow: 5px 1px 18px #2862ff; 
}

nav {
    padding: 15px;
    

}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 0.5em;
}

p.Name {
    font-size: 0.5em;
    margin: 0;
     padding: 10px 15px;
}

main {
    display: flex;
    padding-top: 40px; 
}

section.profile {


    height: 100vh; /* ให้ section มีความสูงเต็มหน้าจอ */

    width: 60%;
    background: linear-gradient(
        to bottom left, 
        #06072C,  /* สีเริ่ม */
        #1A1F6B,  /* สีกลาง */
        #2F36C9   /* สีปลาย */
    );

}
section.content {
    width: 40%;
    padding: 20px;
    color: #ffffff;
    font-size: 0.5em;
    line-height: 1.5;
}

p {
    color: #ffffff;
    font-size: 0.3em;
    line-height: 1.5;
    padding: 20px;
    text-align: center; /* จัดข้อความให้อยู่กลาง */
}